/* vim: fdm=marker:et:sw=4:
* */

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #111;
    font: 100 2.5rem Trebuchet,sans-serif;
    color: #aaa;
    text-align: center;
}

/* https://xem.github.io/unicode13/emoji.html */
@font-face {
    font-family: e;
    src: url(https://xem.github.io/unicode13/Twemoji.ttf) format('truetype');
}

/* Container div */
#a {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Canvas */
#c {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;

    /* Pixelate instead of blurring */
    /*
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    */
}

#ui {
    position: absolute;
    display: flex;
    flex-direction: column;
}

#blurscrn {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    transition: opacity 1s;
    backdrop-filter: blur(10px);
}

/* Note for potrait devices */
#d {
    position: absolute;
    display: none;
    bottom: 0;
    color: green;
}

/* Runtime created elements */
.title {
    margin: 10vh auto;
}

.btn {
    cursor: pointer;
    background: #777;
    margin: auto;
    padding: 1vw;
    font-size: 3vh;
}
.btn:hover {
    background: #999;
}
.btn.pause {
    transition: opacity 1s;
    width: 3vw;
    margin-left: 0;
}

/* Anim */
.fadeo {
    opacity: 0;
}
.fadei {
    opacity: 1;
}

/*
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
*/
